body{
    background-color: rgb(129, 216, 155);
}
#score{
float:left;
    margin-left:200px;
    font-size:20px;
    border-radius:10%;
    border-color: rgb(13, 13, 12);
    border-style: dashed;
}
#timer{
    float:right;
    margin-right:200px;
    font-size:20px;
}